@import "reset";
@import "common";
.container{
	width: 1170px;
	margin: 0 auto;
}
#nav{
	height: 42px;
	border-bottom: 2px solid #343434;
}
.nav{
	height: 42px;
	border-bottom: 2px solid #FFDD00;
}
.nav ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav ul li{
	height: 42px;
}
.nav ul a{
	display: block;
	font-size: 16px;
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}
.nav ul li:nth-child(1) a{
	background: #ffdd00;
	border-radius: 3px;
}
.nav ul a:hover{
	background: #ffdd00;
	border-radius: 3px;
}

#main img{
	width: 80px;
	height: 80px;
}
#main tr{
	width: 1170px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#main tr td,th{
	width: 16%;
	text-align: center;
}

